<!DOCTYPE HTML>
<html ng-app="restModule" lang="en">
	<head>
		<title>Amazing Food Finder</title>
		<meta charset="utf-8" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	</head>
	<body  ng-controller="mainController">
		<div class="container">

			<h1>Admin Page</h1>
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Picture Link</th>
						<th>href link</th>
						<th>Days</th>
						<th>Time</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input class="form-control" placeholder="Name" ng-model="restData.name"></td>
						<td><input class="form-control" placeholder="images/default.jpg" ng-model="restData.pic"></td>
						<td><input class="form-control" placeholder="views/default.html" ng-model="restData.href"></td>
						<td><input class="form-control" placeholder="Days" ng-model="restData.date"></td>
						<td><input class="form-control" placeholder="Time" ng-model="restData.time"></td>
						<td><button class= "btn btn-primary" ng-click="addRest()">Add</button></td>
						<td><button class= "btn btn-info" ng-click="updateRest()">Update</button></td>
					</tr>
					<tr ng-repeat="rest in restaurants">
						<td>{{rest.name}}</td>
						<td>{{rest.pic}}</td>
						<td>{{rest.href}}</td>
						<td>{{rest.date}}</td>
						<td>{{rest.time}}</td>
						<td><button class="btn btn-danger" ng-click="deleteRest(rest._id)">Delete</button></td>
						<td><button class="btn btn-warning" ng-click="editRest(rest._id)">Edit</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		
			<!-- <div id="wrapper">

				
					<header id="header">
						<div class="inner">

							
								<a href="index.html" class="logo">
									<span class="symbol"><img src="images/rap-logo2.png" alt="" /></span><span class="title">Amazing Food Finders</span>
								</a>
						</div>
					</header>

				
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="../index.html">Home</a></li>
							<li><a href="../elements.html">Elements</a></li>
							<li><a href="../test.html">Test Page</a></li>
						</ul>
					</nav>

				

					<div id="main">
						<div class="inner">
							<section class="tiles">
								<article class="" ng-repeat="rest in restaurants"  >
									<span class="image">
										<img src={{rest.pic}}/>
									</span> 
									
									<a href="{{rest.href}}">
										
										<div class="content">
											<h2>{{rest.name}}</h2>
											<p>{{rest.date}}</p>
											<p>{{rest.time}}</p>
										</div>
									</a>
									<button type='submit' ng-click="deleteRest(restaurants._id)"> Delete</button>
								</article>
							</section>
						</div>
						<div id="user-form" class="inner row">
							<div class="col-sm-4 col-sm-offset-2 text-center">
								<form>
									<div class="form-group">


										<input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="restData.name">
										<input type="text" class="form-control input-lg text-center" placeholder="images/default.jpg" ng-model="restData.pic">
										<input type="text" class="form-control input-lg text-center" placeholder="views/default.html" ng-model="restData.href">
									</div>
									<button type="submit" class="btn btn-primary btn-lg" ng-click="addRest()">Add</button>
								</form>


							</div>
						</div>
					</div>
			</div> -->

		
		<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			
			<script src="assets/js/main.js"></script>
			<script src="assets/js/bootstrap.min.js"></script>
			<script src="core.js"></script>
			<script src="http://code.jquery.com/jquery.js"></script>

	</body> 

</html>