<!DOCTYPE HTML>
<html ng-app="restModule" lang="en">
	<head>
		<title>Amazing Food Finder</title>
		<meta charset="utf-8" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		
		

	</head>
<body ng-controller="mainController">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="images/rap-logo2.png" alt="" /></span><span class="title">Amazing Food Finders</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="../index.html">Home</a></li>
							<li><a href="../elements.html">Elements</a></li>
						</ul>
					</nav>

				<!-- Main -->

					<div id="main">
						<div class="inner">
							<header>
								<h1>One Stop Shop for your local eateries<br/></h1>
								<p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>
							</header>
							<section class="tiles">
								<article class="" ng-repeat="rest in restaurants | orderBy : 'name' " >
									<span class="image">
										<img src={{rest.pic}}/>
									</span> 
									
									<a href="{{rest.href}}">
										
										<div class="content">
											<h2>{{rest.name}}</h2>
											<p>{{rest.date}}</p>
											<p>{{rest.time}}</p>
										</div>
									</a>
								</article>
							</section>
						</div>
						<div id="user-form" class="row">
							<div class="">
								<form>
									<div class="form-group">


										<input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="restData.name">
										<input type="text" class="form-control input-lg text-center" placeholder="images/default.jpg" ng-model="restData.pic">
										<input type="text" class="form-control input-lg text-center" placeholder="views/default.html" ng-model="restData.href">
									</div>
									<button type="submit" class="btn btn-primary btn-lg" ng-click="addRest()">Add</button>
								</form>


							</div>
						</div>
					</div>
			</div>

		
		<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			
			<script src="assets/js/main.js"></script>
			<script src="assets/js/bootstrap.min.js"></script>
			<script src="core.js"></script>
			<script src="http://code.jquery.com/jquery.js"></script>

	</body> 

</html>