<!DOCTYPE HTML>
<html ng-app="restModule" lang="en">
	<head>
		<title>Amazing Food Finder</title>
		<meta charset="utf-8" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	</head>
	<body  ng-controller="mainController">
		<div class="container">

			<h1>Admin Page</h1>
			<h3>Restaurants</h3>
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Picture Link</th>
						<th>href link</th>
						<th>Days</th>
						<th>Time</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input class="form-control" placeholder="Name" ng-model="restData.name"></td>
						<td><input class="form-control" placeholder="images/default.jpg" ng-model="restData.pic"></td>
						<td><input class="form-control" placeholder="menu.html" ng-model="restData.href"></td>
						<td><input class="form-control" placeholder="Days" ng-model="restData.date"></td>
						<td><input class="form-control" placeholder="Time" ng-model="restData.time"></td>
						<td><button class= "btn btn-primary" ng-click="addRest()">Add</button></td>
						<td><button class= "btn btn-info" ng-click="updateRest()">Update</button></td>
						<td><button class= "btn btn-info" ng-click="deselect()">Clear</button><td>
					</tr>
					<tr ng-repeat="rest in restaurants | orderBy : 'name'">
						<td>{{rest.name}}</td>
						<td>{{rest.pic}}</td>
						<td>{{rest.href}}</td>
						<td>{{rest.date}}</td>
						<td>{{rest.time}}</td>
						<td><button class="btn btn-danger" ng-click="deleteRest(rest._id)">Delete</button></td>
						<td><button class="btn btn-warning" ng-click="editRest(rest._id)">Edit</button></td>
					</tr>
				</tbody>
			</table>
			<hr>

			<h3>Menu Items</h3>
			<table ng-repeat="rest in restaurants | orderBy : 'name'">
				<caption><h4><b>{{rest.name}}</b></h4></caption>
				<thead>
					<tr>
						<th>Item</th>
						<th>Price</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input class="form-control" placeholder="Item" ng-model="restData.menu.item"></td>
						<td><input class="form-control" placeholder="Item" ng-model="restData.menu.price"></td>
						<td><button class= "btn btn-primary" ng-click="addMenu()">Add</button></td>
						<td><button class= "btn btn-info" ng-click="updateMenu()">Update</button></td>
						<td><button class= "btn btn-info" ng-click="deselectM()">Clear</button><td>
					</tr>
					<tr ng-repeat="r in rest.menu ">
						<td>{{r.item}}</td>
						<td>{{r.price}}</td>
						<td><button class="btn btn-danger" ng-click="deleteMenu(rest._id)">Delete</button></td>
						<td><button class="btn btn-warning" ng-click="editMenu(rest._id)">Edit</button></td>
					</tr>
				</tbody>
			</table>

		</div>
		<footer>
		</footer>
		<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/bootstrap.min.js"></script>
			<script src="core.js"></script>
			<script src="http://code.jquery.com/jquery.js"></script>

	</body> 

</html>