<!doctype html>
<html ng-app="userModule">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Amazing Food Finder</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"><!-- you might consider having a local copy instead of using a CDN, I'm just doing it for the sake of this example -->

    <!---this should be in its own CSS, don't do this in your code -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #user-list              { margin-bottom:30px; }
    </style>

    <!-- Again, maybe not use a CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="core.js"></script>

</head>
<body ng-controller="mainController">
    <div class="container">

        <div class="jumbotron text-center">
            <h1># of restaurants<span class="label label-info">{{ restaurants.length }}</span></h1>
        </div>

        <!-- Consume the results of our GET-->
        <div id="user-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <div class="checkbox" ng-repeat="rest in restaurants">
                    <label>
                        <p>Name: {{ rest.Name }}</p>
                    </label>
                </div>

            </div>
        </div>

        <!-- Use the POST-->
        <div id="user-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- Get the form data bound to the controller-->
                        <input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="restData.Name">
                    </div>

                    <!-- Actualy call the POST-->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="addRest()">Add</button>
                </form>
            </div>
        </div>

    </div>

</body>
</html>