<!DOCTYPE HTML>
<html ng-app="restModule">
	<head>
		<title>Amazing Food Finder</title>
		<meta charset="utf-8" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/../assets/css/main.css" />

	</head>
	<body ng-controller="mainController">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="/../images/rap-logo2.png" alt="" /></span><span class="title">Amazing Food Finder</span>
								</a>

						</div>
					</header>

				<!-- Main -->
					<div id="main" >
						<div class="inner">
							<h1>Optimist</h1>
							<span class="image main"><img src="/../images/pic13.jpg" alt="" /></span>
							<section>
								<h2>Menu</h2>
								<div class="table-wrapper">
									<table >
										<thead>
											<tr>
												<th>Name</th>
												<th>Price</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>{{r.menu}}</td>
												<td>{{r.price}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</section>
						</div>
					</div>
			</div>

		<!-- Scripts -->
			<script src="/../core.js"></script>
			<script src="/../assets/js/jquery.min.js"></script>
			<script src="/../assets/js/skel.min.js"></script>
			<script src="/../assets/js/util.js"></script>
			<script src="/../assets/js/main.js"></script>
	</body>
</html>